<div class="container">

  <!--Begin Task Row-->
  <div class="row">

    <!-- Begin Task List-->
    <div class="col-md-4 task-box">

      <!--Task List Header-->
      <div class="row list-title-box">
        <span class="list-title">House Chores</span>
      </div>

      <div class="row due-box">
        <span class="due-date">Due: Sept 12, 2019</span>
      </div>

      <!--Task List Content-->
      <div class="row list-tasks">

        <ul>
          <li>Item One</li>
          <li class="lg">Item</li>
          <li>Item</li>
          <li class="lg">Item</li>
          <li>Item</li>
          <li class="lg done_task">Item</li>
          <li>Item</li>
          <li class="lg">Wash the car</li>
          <li class="done_task">Clean the windows</li>
          <li class="lg done_task">Do the dishes</li>
          <li class="done_task">Clean the bathroom</li>
          <li class="lg done_task">Item</li>
          <li>Item</li>
          <li class="lg">Item</li>
          <li>Item</li>
          <li class="lg">Item</li>
          <li>Item</li>
          <li class="lg">Item</li>
          <li>Item</li>
          <li class="lg">Item</li>
          <li>Item</li>
        </ul>
      </div>

      <!--Task List Footer-->
      <div class="row list-footer-box">
        <button type="button" class="btn-sm btn-outline-secondary list-button float-right ml-auto">EDIT</button>
        <button type="button" class="btn-sm btn-outline-secondary list-button float-right">DELETE</button>

      </div>

    </div>
    <!--End Task List-->


  </div>
  <!--End Task Row-->

</div>
