<div class="row">
  <span class="text-center headline"><%= @your %> Projects</span>
</div>

<div class="container">
	<div class="grid-row"></div>
</div>


<script id="item-template", type="text/x-handlebars-template">
	{{#each this}}
		<div class="grid-item">
			<div class="project-name">
				<h2>{{name}}</h2>
			</div>
			<div class="task-box">
			{{#each tasks}}
				<div class="task">
					<div class="task-name" id="{{id}}task" onClick="retrieveComments(this)">
						<h3>{{name}}</h3>
						<h4>{{due_date}}</h4>
					</div>
					<div class="marker"><%= image_tag("edit.png") %></div>
					<div class="marker"><%= image_tag(("check.png"), :class => "check") %></div>
					<div class="marker"><%= image_tag("x.png") %></div>
				</div>

				<div class="note-box" id="{{id}}box">
					<div></div>
					<input class="add-note" type="text" placeholder="Add Note"></input>
					<hr>

				</div>
			{{/each}}											
			</div>
			<div class="add-task-button">+ Add task</div>
		</div>
		{{/each}}
</script>

<script id="note-template", type="text/x-handlebars-template">
	{{#each notes}}
		<p class="comment"><span class="commenter">{{user_id}}:</span> {{content}}</p>
	{{/each}}		
</script>

<script>

	$(document).ready(function() {
		$.ajax({
			dataType: "json",
			url: `/projects`,
			success: function(data) {
				var source = document.getElementById("item-template").innerHTML;
				var template = Handlebars.compile(source);
				var result = template(data);
				console.log(data);
				$('.grid-row').prepend(result);
				$('.note-box').hide();
			}
		});
	});

	function retrieveComments(obj) {
		$.ajax({
			dataType: "json",
			url: `/tasks/${parseInt(obj.id)}`,
			success: function(data) {
				var source = document.getElementById("note-template").innerHTML;
				var template = Handlebars.compile(source);
				var result = template(data);
				console.log(data);
				$(` #${data.id}box div `).html(result);
				$(` #${data.id}box `).slideToggle("slow", function() {	
				});
			}
		});
	}

</script>