<div class="row">
  <span class="text-center headline"><%= @your %> Projects</span>
</div>

<div class="container">
	<div class="grid-row">
		<div class="grid-item">
			<div class="project-name">
				<h2>Project Title</h2>
			</div>
			<div class="task-box">
				<div class="task">
					<div class="task-name">
						<h3>Task Name</h3>
						<h4>Due: March 18</h4>
					</div>
					<div class="marker"><%= image_tag(("check.png"), :class => "check") %></div>
					<div class="marker"><%= image_tag("x.png") %></div>
				</div>
																
			</div>
		</div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
	</div>
</div>