/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .done_task {
   text-decoration: line-through;
   color: #bcbec0;
 }

 .due-box {
    background-color: #58ce96;
  }

  .due-date {
    color: white;
    padding-left: 20px;
    padding-bottom: 12px;
    margin-top: -12px;
    font-size: .8em;
    font-weight: bold;
    display: block;
  }

 .headline {
   font-size: 3em;
   font-weight: bold;
   padding: 30px 0;
 }

 .list-button {
   margin: 10px 14px 10px 0;
   padding: 5px 10px;
   font-weight: lighter;
 }

 .list-title {
   color: white;
   font-size: 1.8em;
   font-weight: bold;
   padding: 12px 0 12px 20px;
 }

 .list-title-box {
   background-color: #58ce96;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 .list-container {
   border: 1px solid grey;
   border-radius: 3px;
 }

 .list-footer-box {
   background-color: #e6e7e8;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
 }

 .list-tasks {
   height: 300px;
   overflow: auto;
 }

 .list-tasks li {
   list-style-type: none;
   padding: 8px 0 8px 20px;
   width: 100%;
   border-left: 1px solid #e6e7e8;
   border-right: 1px solid #e6e7e8;
  }

 .list-tasks ul {
   width: 100%;
   padding-left: 0;
  }

  .lg {
   background-color: #d1d3d4;
  }

  .task-box {
    padding: 0 30px 30px 30px;
  }
