/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.wrapper, html, body {
    height: 100%;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

 .flex-login-bg {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("/assets/Login_BG.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;

 }

 .flex-login {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;

 }

  .flex-login div {
    padding: 12px 30px 15px 30px;
  }


  .flex-login h1 {
    margin: 0 auto;
    font-weight: black;
    font-size: 2em;
    color: #696970;
    font-weight: 700;
  }

  .flex-login input {
    border: 1px solid #bebec3;
    text-indent: 10px;
    border-radius: 2px;
  }

  .flex-login label {
    font-weight: bold;
    font-size: .7em;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .flex-login-bg p {
    color: #696970;
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -11px;
  }

  .flex-login a {
    text-align: center;
    padding-top: 12px;
  }

  #signup_link {
    color: #696970;
    font-size: .6em;
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .login_button {
    color: white;
    background-color: #0c80ca;
    font-weight: bold;
    font-size: .9em;
    margin-top: 18px;
    width: 100%;
    padding: 8px 0;
    height: 40px;
    cursor: pointer;
  }

  input:focus, textarea:focus {
    outline: none;
  }

  .checkboxes label {
    padding-left: 8px;
  }

  .checkboxes input{
    padding-left: 8px;
  }

 .done_task {
   text-decoration: line-through;
   color: #bcbec0;
 }

 .due-box {
    background-color: #58ce96;
  }

  .due-date {
    color: white;
    padding-left: 20px;
    padding-bottom: 12px;
    margin-top: -12px;
    font-size: .8em;
    font-weight: bold;
    display: block;
  }

 .headline {
   font-size: 3em;
   font-weight: bold;
   padding: 30px 0;
   width: 100%;
   margin-top: 50px;
 }

 .list-button {
   margin: 10px 0 10px 10px;
   padding: 5px 10px;
   font-weight: lighter;
 }

 .list-title {
   color: white;
   font-size: 1.8em;
   font-weight: bold;
   padding: 12px 0 12px 20px;
 }

 .list-title-box {
   background-color: #58ce96;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }
  .list-title-box-overdue {
   background-color: red;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 .list-title-edit {
   background-color: inherit;
   border: 0;
   color: white;
   font-weight: bold;
 }

 .list-title-edit::placeholder {
   color: white;
 }

 .list-container {
   border: 1px solid grey;
   border-radius: 3px;
 }

  .list-title-edit:focus {
    border-bottom: 1px solid white;
  }

 .list-footer-box {
   background-color: #e6e7e8;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
 }

 .list-tasks {
   height: 300px;
   overflow: auto;
 }

 .list-tasks li {
   list-style-type: none;
   padding: 8px 0 8px 20px;
   width: 100%;
  }

 .list-tasks ul {
   width: 100%;
   padding-left: 0;
   margin-bottom: 0;
   height: auto;
   border-left: 1px solid #e6e7e8;
   border-right: 1px solid #e6e7e8;
  }

  .lg {
   background-color: #d1d3d4;
  }

  .nav {
    margin-bottom: 45px;
  }

  .new-list-box {
    background-color: #e6e7e8;
    border-top: 1px solid #e6e7e8;
  }

  .new-list-button {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    padding: 5px 10px;
    font-weight: lighter;
 }

  .task-box {
    padding: 0 30px 30px 30px;
  }

  .task-edit {
    border: 0;
    width: 93%;
  }

  .task-edit:focus {
    border-bottom: 1px solid #e6e7e8
  }

  .field_with_errors {
    border: 1px solid red;
    display: inline-block;
  }