/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper, html, body {
    height: 100%;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    background-color: #fff;
}

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .grid-row {
    padding: 15px 0 0 15px;
    margin: 40px auto;
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    height: 400px;
    width: calc((100% / 3) - 15px);
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 15px;
    border: 1px solid #CCC;
    border-radius: 15px;
  }

  .project-name{
    display: flex;
    border-radius: 15px 15px 0 0;
    background-color: #022B59;
    padding-left: 20px;
    color: #fff;
  }

  @media(max-width: 1100px) {
  .grid-item {
    width: calc((100% / 2) - 15px);
    }
  }

  @media(max-width: 800px) {
  .grid-item {
    width: 100%;
    }
  }

  .task {
    display: flex;
    align-items: center;
    height: 58px;
    border-bottom: 1px solid #ccc;
  }

  .task-box {
    height: 280px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
  }

  .task-name {
    flex: 3;
    padding-left: 20px;
    height: 58px;
  }

  .task h3 {
    font-size: 1.1em;
    flex: 3;
    margin-top: 12px;
  }

  .task h4 {
    font-size: .75em;
    flex: 3;
    margin-top: -15px;
  }

  .marker {
    flex: 1;
    float: left;
    margin-top: 5px;
    text-align: right;
  }

  .marker img {
    width: 35px;
    height: 35px;
    padding-right: 15px;
    cursor: pointer;
  }

  .check {
    margin-right: -35px;
  }

 .flex-login-bg {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("/assets/Login_BG.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
 }

 .flex-login {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;

 }

  .flex-login div {
    padding: 12px 30px 15px 30px;
  }


  .flex-login h1 {
    margin: 0 auto;
    font-weight: black;
    font-size: 2em;
    color: #696970;
    font-weight: 700;
  }

  .flex-login input {
    border: 1px solid #bebec3;
    text-indent: 10px;
    border-radius: 2px;
  }

  .flex-login label {
    font-weight: bold;
    font-size: .7em;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .flex-login-bg p {
    color: #696970;
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -11px;
  }

  .flex-login a {
    text-align: center;
    padding-top: 12px;
  }

  #signup_link {
    color: #696970;
    font-size: .6em;
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .login_button {
    color: white;
    background-color: #0c80ca;
    font-weight: bold;
    font-size: .9em;
    margin-top: 18px;
    width: 100%;
    padding: 8px 0;
    height: 40px;
    cursor: pointer;
  }