<nav class="nav">
	<div id="nav-box">
		<div id="nav1">
	    	<%= link_to "My Projects", user_projects_path(current_user) %>
	    	<%= link_to "All Projects", projects_path %>  
	    </div>
	 	<div id="nav2">
	    	<%= link_to "Logout", logout_path %>
	    </div>
	</div>
</nav>
