<nav class="nav">
	<div id="nav-box">
		<div id="nav1">
	    	<span onClick="myTasks()">My Tasks</span>
	    	<span onClick="allTasks()">All Tasks</span>
	    </div>
	 	<div id="nav2">
	    	<%= link_to "Logout", logout_path %>
	    </div>
	</div>
</nav>
